<footer id="colophon" class="bg-dark-a" role="contentinfo">
  <div class="container of-hid">

    <div id="ft-sub">
      <ul>
        <li><a href="https://www.ted.com/about/programs-initiatives/tedx-program">TEDx Program</a></li>
        <li><a href="#">About US</a></li>
        <li><a href="#">クリエイティブ・コモンズ・ライセンス</a></li>
        <li><a href="#">利用規約</a></li>
        <li><a href="#">プライバシーポリシー</a></li>
      </ul>

    </div>

    <div id="ft-copyright" class="row py-2">
      <div class="col-12 text-center">
        Copyright © 2018 <a href="http://www.tedxtoyohashiut.com" title="TEDxToyohashiUT">TEDxToyohashiUT</a> | This independent TEDx event is operated under license from TED
      </div>
    </div>
    <!-- .site-info -->
  </div>
</footer>
