<section class="container t_white">
    <div class="row">
        <div id="c_ourinfo" class="col-xs-12">
            <h1><strong>MY INFO</strong></h1>
            <hr>
            <p class="lead">こんにちは、Junです。
                <br>ここは私のホームページです．
                <br>各SNSへはこちらから行けます．
            </p>
            <h3><strong>気になる & 追いかけてる分野</strong></h3>
            <ul class="lead">
                <div class="row">
                    <div class="col-sm-6">
                        <li>Android アプリ開発</li>
                        <li>ホームページ制作</li>
                        <li>映像技術研究</li>
                        <li>ガジェット</li>
                        <li>サーバー</li>
                        <li>Unity</li>
                        <li>VR / AR</li>
                    </div>
                    <div class="col-sm-6">
                        <li>Unity</li>
                        <li>AndroidStudio / Eclipse</li>
                        <li>Xcode</li>
                        <li>OpenCV</li>
                        <li>Linux</li>
                        <li>Git</li>
                    </div>
                </div>
            </ul>
            <hr>
            <h3><strong>言語</strong></h3>
            <ul class="lead">
                <div class="row">
                    <div class="col-sm-6">
                        <li>C / C++</li>
                        <li>C#</li>
                        <li>Java</li>
                        <li>JavaScript</li>
                    </div>
                    <div class="col-sm-6">
                        <li>Ruby (Ruby on Rails)</li>
                        <li>HTML / CSS</li>
                        <li>Python</li>
                        <li>Swift</li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>
